section#slider {
    width: 100%;
    height: 319px;
    background: transparent;
    /* margin: 0 26px; */
    margin-top: 17px;
}

section#slider div {
    width: 100%;
    height: 319px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--bg-frame); */
}

section#slider > div > img {
    width: 90%;
    height: 100%;
    border-radius: 29px;
}

main {
    margin-top: 35px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 260px;
}

main > section, main > section > section {
    /* display: flex; */
    align-items: center;
}

.colors {
    /* margin-top: 7px; */
    /*margin-right: 38px;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.color {
    width: 40px;
    height: 40px;
    /*background: #dd356c;*/
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 12px 9px -7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: border 0.1s ease-out;
}

.color:hover, .color.active {
    border: 4px solid var(--hover-color);
}
#colors > section > div:nth-child(1) {
    margin-right: 0;
}
.small_case div.selector-input > div {
    display: block;
}
.small_case > section > div:nth-child(1) > p {
    font-size: 11px;
}
.small_case {
    display: flex;
    /*justify-content: space-between;*/
}
.small_case > section:nth-child(2){
    margin-right: 7.98%;
}
.small_case > section {
    user-select: none;
    margin-top: 28px;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.selector-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 37px;
    border-radius: 19px;
    background: #FFEBF6;
    box-shadow: #000000 0 7px 11px -8px inset;
    cursor: pointer;
    text-align: center;
    margin: 8px 0 2px 2px;
    user-select: none;
}
.selector-input div {
    color: var(--cl-paragraph);
}
.selector-input div.active {
    color: var(--white);
}
#run .selector-input {
    width: 224px;
}
#aviz .selector-input {
    width: 97px;
}

.selector-input div {
    width: 68px;
    user-select: none;
    cursor: grab;
    border-radius: 18.5px;

    transition: 0.4s ease-in-out;
}

.selector-input .active {
    width: 68px;
    height: 100%;
    border-radius: 18.5px;
    background: var(--cl-select);
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.selector-input div.transition {
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

body > main > section:nth-child(3) {
    display: flex;
    margin-top: 30px;
}

.selector-count {
    width: 163px;
    height: 26px;
    border-radius: 13px;
    background: linear-gradient(to left, rgba(154, 39, 100, 0.71) 0%, #ffe1f1 100%);
    margin-right: 2.8%;
    align-items: center;
    justify-content: space-between;
}



.counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: KalamehWebFaNum;
    color: var(--white);
}
body > main > section:nth-child(3) > div.selector-count > div:first-child {
    margin-right: 12px;
}
body > main > section:nth-child(3) > div.selector-count > div:last-child {
    margin-left: 1px;
}
body > main > section:nth-child(3) > div.selector-count > div:nth-child(1).active {
    margin-right: 0;
}
.selector-count .active {
     width: 25px;
     height: 25px;
     background: transparent;
     border: 1px solid #fff;
     border-radius: 50%;
     margin-right: 1px;
     overflow: hidden;
     /*z-index: 100000;*/
 }



body > main > section:nth-child(4) > div:first-child {
    margin-right: 11.11%;
    margin-top: 4.5%;
}
body > main > section:nth-child(4) > div > p {
    color: var(--color-description);
    font-size: 15px;
}
body > main > section:nth-child(4) > div:nth-child(2) {
    justify-content: center;
}
.description {
    width: 285px;
    min-height: 146px;
    border-radius: 31px;
    background: #fff;
    box-shadow: 2px 2px 14px #f1f1f1;
    display: block;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 194px;
    background: transparent;
}

.description-cart {
    width: 87%;
    height: 144px;
    background: #fff;
    border-radius: 28px 28px 0 0;
    box-shadow: 1px 1px 15px #ffe1f1;
}

.cart {
    width: 100%;
    height: 75px;
    background: #926789;
    border-radius: 31px 31px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart p {
    color: var(--white);
    font-size: 28px;
}
/* اینجا تغییرات لازم را انجام می‌دهیم */
.description-cart, .cart {
    position: relative;
    z-index: 1;
}
